.btn-tiny{
  padding: 0.2rem;
  font-size: 0.75rem;
}

.btn-outline-display{
  color: $display-color;
  background-color: transparent;
  background-image: none;
  border-color: $display-color;
}

.btn-outline-imagen{
  color: $image-color;
  background-color: transparent;
  background-image: none;
  border-color: $image-color;
}

.btn-outline-grupo{
  color: $group-color;
  background-color: transparent;
  background-image: none;
  border-color: $group-color;
}

.btn-warning{
  color: white !important;
}
