$color-letra: #868e96;
$color-borde: $color-letra;
$color-fondo-hover: #495057;
$color-display: $green;
$color-imagen: $cyan;
$color-grupo: $yellow;
//
// ESTILO GENERAL DE LISTAS
//

.list-group{
  max-height: 60vh;
  overflow-y: scroll;
  border: 1px solid $color-borde;
  border-radius: 0.25rem;
}

.list-group-item{padding: 0px;}
.list-group-item.active{border-color: $color-borde;}

.elemento
{padding: 0.75rem 1.25rem;}

// Bordes de los elementos
.list-group-item{ border-color: $color-borde; border-left: 0px; border-right: 0px; border-radius: 0px;}
.list-group-item:first-child{ border-top: 0px; border-radius: 0px;}
.list-group-item:last-child{ border-bottom: 0px; border-radius: 0px;}

// Color de la letra y fondo de los elementos
.list-group-item{ color: $color-letra; }
.list-group-item{ background-color: transparent; }

// Color de fondo de los elementos durante hover
.list-group-item:hover{ background-color: $color-fondo-hover; }
.list-group-item:hover{ color: white; }
.elemento-inactivo{ margin-right: 2px; }
.elemento-activo{ margin-right: 0px; }

// Estilo de los elementos activos
.active .elemento-display{
  color: white;
  background-color: $color-fondo-hover;
  border-right: 0.25rem solid $color-display;
  padding-right: 1rem;
}

.active .elemento-imagen{
  color: white;
  background-color: $color-fondo-hover;
  border-right: 0.25rem solid $color-imagen;
  padding-right: 1rem;
}

.active .elemento-grupo{
  color: white;
  background-color: $color-fondo-hover;
  border-right: 0.25rem solid $color-grupo;
  padding-right: 1rem;
}

.active .elemento-configuracion{
  color: white;
  background-color: $color-fondo-hover;
  border-right: 0.25rem solid $color-imagen;
  padding-right: 1rem;
}

// LISTAS DE DISPLAYS

// Color de la letra durante hover
.elemento-display:hover
.elemento-grupo:hover
.elemento-imagen:hover
.elemento-asociado:hover{ color: white; }
