.modal-content{
   position: absolute;
   top: 100px;
   max-width: 40%;
   left: 30%;
   bottom: 100px;
   border: 1px solid $bd-color;
   background-color: $bg-secondary-color;
   overflow: auto;
   border-radius: $bd-radius;
   outline: none;
   padding: 20px;
}
