.notify-content{
  min-width: 600px;
  height: 100%;
}

.notify-success{
  position: relative;
  padding: 0;
  min-width: 400px;
  color: $primary-color;
  border-radius: 0.25rem;
  box-shadow: $shadow !important;
}

.notify-error{
  position: relative;
  padding: 0;
  min-width: 400px;
  color: $danger-color;
  border-radius: 0.25rem;
  box-shadow: $shadow !important;
}

.notify-icon-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-height: 80px;
  padding: 24px 10px 0px 10px;
}

.notify-icon{
  vertical-align: middle;
  color: white;
  text-align: center;
}

.notify-text {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
}

.notify-icon-success {
  background-color: $primary-color;
}

.notify-icon-error {
  background-color: $danger-color;
}

.notify-division-success{
  border-color: $primary-color;
  margin-top: 3px;
  margin-bottom: 3px;
}

.notify-division-error{
  border-color: $danger-color;
  margin-top: 3px;
  margin-bottom: 3px;
}

.notify-info-success{
  color: $primary-color;
}

.notify-info-error{
  color: $danger-color;
}
