
// colors
$font-primary-color: #1e2125;
$font-secondary-color: #868e96;
$font-icon-color: #6c757d;
$bg-color: #f4f7f9;
$bg-secondary-color: #ffffff;
$bd-color: rgba(0, 0, 0, 0.125);
//
$primary-color: #20c997;
$display-color: $primary-color;
//$display-color: #28a745;
$image-color: #17a2b8;
$group-color: #ffc107;
$gateway-color: $primary-color;
$device-color: $primary-color;
$docs-color: $primary-color;
$settings-color: $primary-color;
//
$info-color: #17a2b8;
$warning-color: #ffc107;
$success-color: #20c997;
$danger-color: #dc3545;

// box-shadow
$shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.2);

// border
$bd-width: 1px;
$bd-radius: 0.25rem;
$bd-active-width: 0.25rem;

// margins and paddings
$padding-left: 3%;
$padding-right: 3%;
$padding-top: 4%;
$padding-bottom: 4%;

$margin-left: 72px;
$margin-right: 72px;
$margin-top: 48px;
$margin-bottom: 48px;
