@import '~bootstrap/scss/_functions';
@import 'variables';
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'forms';
@import 'text';
@import 'nav';
@import 'notifications';
@import 'titles';
@import 'cards';
@import 'lists';
@import 'details';
@import 'botones';
@import 'react-select/dist/react-select.css';

// style
html {
  height: 100%;
}

body{
  height: 100vh;
  max-height: 100vh;
  font-family: "etica-display";
}

.frame{
  height: 100%;
  max-height: 100%;
  padding-top: 3rem;
  padding-right: $padding-right;
  padding-bottom: 3rem;
  padding-left: $padding-left;
}

.login{
  height: 100%;
}

.main{
  height: 100%;
  max-height: 100%;
  padding-left: 15px;
}

.content{
  height: 100%;
  margin-right: 0;
}

.overview{
  height: 100%;
  max-height: 100%;
}

.row-panel{
  height: 80%;
  max-height: 80%;
}

.panel{
  height: 100%;
  max-height: 100%;
}

.controls{
  height: 80%;
  max-height: 80%;
  margin-bottom: 15px;
}

.detalles{
  max-height: 100%;
}

.detalles .card-body{
  max-height: 90%;
  padding-bottom: 15px;
  overflow-y: scroll;
}

.settings{

}

.settings .card-body{

}

.asociados{

}

::-webkit-scrollbar{
  display: none;
}

.ventana{
  max-width: 100%
}

.doc-body{
  height: 500px;
}

// SIZING
.detalles{
  max-width: 100%;
}

.vista-previa{
  padding: 0;
}

.vista-imagen{
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  padding: 30 0 30 0;
}

.vista-imagen-grupo{
  border: 1px solid $bd-color;
  border-radius: 0.25rem;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  padding: 30 0 30 0;
}

.vista-imagen-display{
  border: 1px solid $bd-color;
  border-radius: 0.25rem;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  padding: 30 0 30 0;
}

.imagen{
  width: 100%;
}

.dropzone-accepted{
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid $display-color !important;
  text-align: center;
  margin-bottom: 20px;
}

.dropzone{
  width: 100%;
  height: 300px;
  border-radius: 0.25rem;
  border: 1px dashed $bd-color;
  text-align: center;
  margin-bottom: 20px;
}

.etiquetas{
  overflow-x: scroll;
}

a{
  color: $font-primary-color;
  text-decoration: none;
}

a:hover{
  color: $font-primary-color;
  text-decoration: none;
}

.disponible{
  color: #495057;
}
